extends layout

block content
  .container.admin-container
    .row
      .col-md-6
        h1 Raffle
        input#raffle-input(type="text" placeholder="message text")
        br
        br
        button#raffle-btn.btn.btn-default(style="background-color: #bbb") Raffle!
      .col-md-6
        #user(style="margin-top:25px")
